<section class="section">
  <div class="container mb-5">

    <section class="landing-services-white">
      <div class="landing-service">

        <div class="card card-lift--hover border-0">
          <picture class="landing-service__img-container">
            <img src="./assets/img/reussir-sa-vente-new.jpg" class="landing-service__img" alt="">
          </picture>
        </div>
        
        <div class="landing-service__content">
            <h2 class="landing-service__title">Comment réussir votre vente&nbsp;?</h2>
            <p class="landing-service__subtitle">Tous nos conseils et outils sur les prix et les agences immobilières pour réaliser votre projet immobilier </p>
            <a [routerLink]="['/comment']" class="DS-link DS-link--primary DS-link--with-icon">Découvrir toutes les étapes</a>
        </div>
      </div>
    </section>
  </div>
</section>
