
<div class="home-search-mask home-search-mask--sage">
    <h1 class="home-search-mask__title">
        Déposer et&nbsp;comparez
        <span class="hide-sm"> en toute confiance </span>
    </h1>

    <div class="search-mask">
        <nav class="nav-tabs nav-tabs--left nav-tabs--separated search-mask__tabs">
            <div class="nav-tabs__content">
                <a [routerLink]="['/home']" class="nav-tabs__item  ">Déposer un bien</a>
                <a [routerLink]="['/compare']" class="nav-tabs__item nav-tabs__item--active">Comparer des agences</a>
            </div>
        </nav>

        <div class="hide">
            
        </div>
        
        <div>
            <form class="search-mask__form" [formGroup]="myForm">
                <label for="ville" class="text--small">Ville</label>
                <div class="search-bar margin-top-half form-group">
                    <input class="search-bar__input full-width form-control" name="ville" id="ville" type="text" placeholder="Nabeul" formControlName="ville">
                    <button (click)="goAgences()" [disabled]="myForm.invalid" type="button" class="btn btn--primary search-bar__cta">
                        Comparer
                    </button>
                </div>
            </form>
        </div> 
         
    </div>
</div> 
<section class="landing-services-white">

    <div class="landing-service landing-service--reverse ">

        <div class="card card-lift--hover border-0">
        <picture class="landing-service__img-container">
            <img src="./assets/img/home-estima-new.jpg" class="landing-service__img" alt="">
        </picture>
        </div>
        <div class="landing-service__content">
            <h2 class="landing-service__title">Déposer en ligne</h2>
            <p class="landing-service__subtitle">Avec Homee, vous aurez accès à un espace qui s'appel «Déposer un bien» qui vous permettant ainsi de mettre en avant vos annonces</p>
            <a [routerLink]="['/enligne']" type="button" class="btn btn-outline-primary">Déposer un bien</a>
        </div>

    </div>

    <div class="landing-service landing-service--reverse">

        <div class="card card-lift--hover border-0">
        <picture class="landing-service__img-container">
            <img src="./assets/img/home-comparateur.jpg" class="landing-service__img" alt="">
        </picture>
        </div>
        <div class="landing-service__content">
            <h2 class="landing-service__title">Comparateur d'agences</h2>
            <p class="landing-service__subtitle">Nous comparons les agences locales pour vous permettre de choisir les meilleures pour votre projet, selon leurs ventes récentes et leurs avis clients </p>
            <a [routerLink]="['/paragence']" class="btn btn-outline-primary">Trouver la bonne agence</a>
        </div>
        
    </div>
</section>

<section class="section pb-0 section-components" style="background-color: #f2f3f4;">
    <div class="container mb-5">
  
      <section class="home-pro home-pro--alternative">
        <h2 class="title--h1 home-pro__title--alternative">Vous déménagez bientôt&nbsp;?</h2>
        <p class="title--h4 home-pro__subtitle--alternative">Faite-nous confiance, rejoignez nous&nbsp;!</p>
        <a [routerLink]="['/equipe']" type="button" class="btn btn-outline-primary">Découvrez Qui-sommes-nous</a>
      </section>
     
    </div>
</section>

<section class="section">
    <div class="container mb-5">
      <section class="Success-landing">
        <div class="Success-landing-service">
  
          <div class="card card-lift--hover border-0">
            <picture class="Success-landing-service__img-container">
              <img src="./assets/img/reussir-sa-vente-new.jpg" class="Success-landing-service__img" alt="">
            </picture>
          </div>
          
          <div class="Success-landing-service__content">
              <h2 class="Success-landing-service__title">Comment réussir votre vente&nbsp;?</h2>
              <p class="Success-landing-service__subtitle">Tous nos conseils et outils sur les prix et les agences immobilières pour réaliser votre projet immobilier </p>
              <a [routerLink]="['/comment']" class="DS-link DS-link--primary DS-link--with-icon">Découvrir toutes les étapes</a>
          </div>
        </div>
      </section>
    </div>
</section>



  
