<div class="ventePage">
    <div class="l-container">
        <header class="landing-hero landing-hero--listings" >
            <div class="landing-hero__container landing-hero__container--listings">
                <h1 class="landing-hero__title landing-hero__title--pub margin-bottom-double">Trouvez le bien à acheter qui vous ressemble</h1>
                <h2 class="landing-hero__subtitle margin-bottom-double">Découvrez les annonces de logements à vendre</h2>
               
                        <div style="margin-left: auto; margin-right: auto; width: 17rem;" class="search-filters__criteria search-filter search-filter--cta">
                          <button [routerLink]="['/annoncevente']" class="btn btn--primary btn--small search-filter__button" type="submit">
                            Accédez aux annonces !
                          </button>
                        </div>      
            </div>
        </header>
    
        <div class="listing-seo-places-slideshow">
            <h2  style=" margin-left: 50px;" class="listing-seo-places-slideshow__title">Annonces de vente dans les grandes villes de la Tunisie</h2>
    
            <ngb-carousel style="margin-left: auto; margin-right: auto;">
              <ng-template ngbSlide >
                <div class="picsum-img-wrapper" >
                  <img class="resize" src="./assets/img/tunis.jpg">
                </div> 
                <div class="carousel-caption">
                  <h3>Tunis</h3>
                </div>
              </ng-template>
              <ng-template ngbSlide >
                <div class="picsum-img-wrapper" >
                  <img class="resize" src="./assets/img/nabeul.jpg">
                </div> 
                <div class="carousel-caption">
                  <h3>Nabeul</h3>
                </div>
              </ng-template>
    
              <ng-template ngbSlide >
                <div class="picsum-img-wrapper" >
                  <img class="resize" src="./assets/img/bizert.jpg">
                </div> 
                <div class="carousel-caption">
                  <h3>Bizerte</h3>
                </div>
              </ng-template>
    
              <ng-template ngbSlide >
                <div class="picsum-img-wrapper" >
                  <img class="resize" src="./assets/img/kairaouan.jpg">
                </div> 
                <div class="carousel-caption">
                  <h3>Kairouan</h3>
                </div>
              </ng-template>
              <ng-template ngbSlide >
                <div class="picsum-img-wrapper" >
                  <img class="resize" src="./assets/img/monastir.jpg">
                </div> 
                <div class="carousel-caption">
                  <h3>Monastir</h3>
                </div>
              </ng-template>
              <ng-template ngbSlide >
                <div class="picsum-img-wrapper" >
                  <img class="resize" src="./assets/img/tataouine.jpg">
                </div> 
                <div class="carousel-caption">
                  <h3>Tataouine</h3>
                </div>
              </ng-template>
         
                <ng-template ngbSlide >
                    <div class="picsum-img-wrapper" >
                      <img class="resize" src="./assets/img/beja.jpg">
                    </div> 
                    <div class="carousel-caption">
                      <h3>Béja</h3>
                    </div>
                  </ng-template>
    
                  <ng-template ngbSlide >
                    <div class="picsum-img-wrapper" >
                      <img class="resize" src="./assets/img/gabes.jpg">
                    </div> 
                    <div class="carousel-caption">
                      <h3>Gabes</h3>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide >
                    <div class="picsum-img-wrapper" >
                      <img class="resize" src="./assets/img/jendouba.jpg">
                    </div> 
                    <div class="carousel-caption">
                      <h3>Jendouba
                      </h3>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide >
                    <div class="picsum-img-wrapper" >
                      <img class="resize" src="./assets/img/mednine.jpg">
                    </div> 
                    <div class="carousel-caption">
                      <h3>Médenine</h3>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide >
                    <div class="picsum-img-wrapper" >
                      <img class="resize" src="./assets/img/mahdia.jpg">
                    </div> 
                    <div class="carousel-caption">
                      <h3>Mahdia</h3>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide >
                    <div class="picsum-img-wrapper" >
                      <img class="resize" src="./assets/img/benarous.jpg">
                    </div> 
                    <div class="carousel-caption">
                      <h3>Ben Arous</h3>
                    </div>
                  </ng-template>
    
                <ng-template ngbSlide >
                    <div class="picsum-img-wrapper" >
                      <img class="resize" src="./assets/img/gafsa.jpg">
                    </div> 
                    <div class="carousel-caption">
                      <h3>Gafsa</h3>
                    </div>
                  </ng-template>
    
                  
    
               
                  <ng-template ngbSlide >
                    <div class="picsum-img-wrapper" >
                      <img class="resize" src="./assets/img/kasserine.jpg">
                    </div> 
                    <div class="carousel-caption">
                      <h3>Kasserine</h3>
                    </div>
                  </ng-template>
    
                   <ng-template ngbSlide >
                  <div class="picsum-img-wrapper" >
                    <img class="resize" src="./assets/img/kebili.jpg">
                  </div> 
                  <div class="carousel-caption">
                    <h3>Kebili</h3>
                  </div>
                </ng-template>
    
    
                 <ng-template ngbSlide >
                  <div class="picsum-img-wrapper" >
                    <img class="resize" src="./assets/img/manouba.jpg">
                  </div> 
                  <div class="carousel-caption">
                    <h3>La Manouba</h3>
                  </div>
                </ng-template>
    
                <ng-template ngbSlide >
                    <div class="picsum-img-wrapper" >
                      <img class="resize" src="./assets/img/kef.jpg">
                    </div> 
                    <div class="carousel-caption">
                      <h3>Le Kef</h3>
                    </div>
                  </ng-template>
    
                 
    
                  <ng-template ngbSlide >
                    <div class="picsum-img-wrapper" >
                      <img class="resize" src="./assets/img/sfax.jpg">
                    </div> 
                    <div class="carousel-caption">
                      <h3>Sfax</h3>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide >
                    <div class="picsum-img-wrapper" >
                      <img class="resize" src="./assets/img/ariana.jpg">
                    </div> 
                    <div class="carousel-caption">
                      <h3>Ariana</h3>
                    </div>
                  </ng-template>
      
                  <ng-template ngbSlide >
                    <div class="picsum-img-wrapper" >
                      <img class="resize" src="./assets/img/sidibouzid.jpg">
                    </div> 
                    <div class="carousel-caption">
                      <h3>Sidi Bouzid</h3>
                    </div>
                  </ng-template>
    
                  <ng-template ngbSlide >
                    <div class="picsum-img-wrapper" >
                      <img class="resize" src="./assets/img/siliana.jpg">
                    </div> 
                    <div class="carousel-caption">
                      <h3>Siliana</h3>
                    </div>
                  </ng-template>
    
                  <ng-template ngbSlide >
                    <div class="picsum-img-wrapper" >
                      <img class="resize" src="./assets/img/sousse.jpg">
                    </div> 
                    <div class="carousel-caption">
                      <h3>Sousse</h3>
                    </div>
                  </ng-template>
    
                 
    
                  <ng-template ngbSlide >
                    <div class="picsum-img-wrapper" >
                      <img class="resize" src="./assets/img/tozeur.jpg">
                    </div> 
                    <div class="carousel-caption">
                      <h3>Tozeur</h3>
                    </div>
                  </ng-template>
    
          
    
                  <ng-template ngbSlide >
                    <div class="picsum-img-wrapper" >
                      <img class="resize" src="./assets/img/zaghouan.jpg">
                    </div> 
                    <div class="carousel-caption">
                      <h3>Zaghouan</h3>
                    </div>
                  </ng-template>
            </ngb-carousel>
    
        <div class="landing-content landing-content--directory">
            <div class="directory directory--landing">
                <h2 class="title--h2 directory__title">Annonces de vente par gouvernorat</h2>
                <div class="flex flex-wrap padding-top-double">
                    <ul class="list-link list-link--directory">
                        <li><a href="#">Ariana</a></li>
                        <li><a href="#">Béja</a></li>
                        <li><a href="#">Ben Arous</a></li>
                        <li><a href="#">Bizerte</a></li>
                        <li><a href="#">Gabes</a></li>
                        <li><a href="#">Gafsa</a></li>
                        <li><a href="#">Jendouba</a></li>    
                        <li><a href="#">Kairouan</a></li>    
                    </ul>
        
                    <ul class="list-link list-link--directory">
                        <li><a href="#">Kasserine</a></li>
                        <li><a href="#">Kebili</a></li>
                        <li><a href="#">La Manouba</a></li>
                        <li><a href="#">Le Kef</a></li>
                        <li><a href="#">Mahdia</a></li>
                        <li><a href="#">Médenine</a></li>
                        <li><a href="#">Monastir</a></li>    
                        <li><a href="#">Nabeul</a></li>    
                    </ul>
        
                    <ul class="list-link list-link--directory">
                        <li><a href="#">Sfax</a></li>
                        <li><a href="#">Sidi Bouzid</a></li>
                        <li><a href="#">Siliana</a></li>
                        <li><a href="#">Sousse</a></li>
                        <li><a href="#">Tataouine</a></li>
                        <li><a href="#">Tozeur</a></li>
                        <li><a href="#">Tunis</a></li>    
                        <li><a href="#">Zaghouan</a></li>    
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
