<div class="progress-bar">
    <div class="progress-bar__filled"></div>
</div>
  
  <main style="height: 43rem;">
    <section> 
      <div class="container pt-lg-md pb-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">

              <div class="card-header pb-1">
                <div class="text-white text-center">
                  <p style="font-weight: bold;font-size: 1.7rem;position: relative;">Joignez Homee !</p>
                </div>
              </div>

              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-white mb-4">
                  <p>Inscrivez-vous avec des informations d'identification</p>
                </div>
  
                <form [formGroup]="myForm" (ngSubmit)="creerPreneur()">
  
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <input class="form-control" placeholder="Nom" type="text" formControlName="nom">
                    </div>
                    <div *ngIf="nom.touched && nom.invalid">
                      <small *ngIf="nom.errors.required" class="text-danger"> Nom est requis </small><br>
                      <small *ngIf="nom.errors.pattern" class="text-danger"> Nom est invalide</small><br>
                      <small *ngIf="nom.errors.minlength" class="text-danger"> Le nom doit contenir au moins deux caractères</small>
                    </div>
                    <small *ngIf="error" class="text-danger">Le nom d'utilisateur déja existant</small>
                  </div>
  
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <input class="form-control" placeholder="Numéro" type="text" formControlName="Number">
                    </div>
                    <div *ngIf="Number.touched && Number.invalid">
                      <small *ngIf="Number.errors.required" class="text-danger"> Numéro est requis </small><br>
                      <small *ngIf="Number.errors.pattern" class="text-danger"> Numéro est invalide</small><br>
                      <small *ngIf="Number.errors.minlength" class="text-danger"> Le numéro doit contenir 8 chiffres</small>
                    </div>
                  </div>
  
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <input class="form-control" placeholder="E-mail" type="email" formControlName="email">
                    </div>
                    <div *ngIf="email.touched && email.invalid">
                      <small *ngIf="email.errors.required" class="text-danger"> Email est requis </small><br>
                      <small *ngIf="email.errors.pattern" class="text-danger"> Email est invalide</small>
                    </div>
                  </div>
  
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <input class="form-control" placeholder="Mot de passe" type="password" formControlName="password">
                    </div>
                    <div *ngIf="password.touched && password.invalid">
                      <small *ngIf="password.errors.required" class="text-danger"> Mot de passe est requis </small><br>
                      <small *ngIf="password.errors.minlength" class="text-danger"> Le nom doit contenir au moins 6 caractères</small>
                    </div>
                  </div>
  
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <input class="form-control" placeholder="Répéter mot de passe" type="password" formControlName="repeatPassword">
                    </div>
                    <div *ngIf="repeatPassword.touched && repeatPassword.invalid">
                      <small *ngIf="repeatPassword.errors.required" class="text-danger"> Mot de passe est requis </small><br>
                      <small *ngIf="repeatPassword.errors.minlength" class="text-danger"> Le nom doit contenir au moins 6 caractères</small>
                    </div>
                    <div *ngIf="repeatPassword.valid && repeatPassword.value != password.value">
                      <small class="text-danger"> mot de passe saisi ne correspond pas </small> 
                    </div>
                  </div>
  
                  <div class="form-group">
                    <div class="text-center">
                      <button [disabled]="myForm.invalid || repeatPassword.value != password.value" type="submit" class="btn btn-white mt-4">Créer un compte</button>
                    </div>
                  </div>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  
