<div class="commentPage">
    <div class="l-container">
    <article>
        <header class="hero howto-hero howto-hero--sale-success">
            <h1 class="howto-hero__title text--h1">Comment réussir votre vente ?</h1>
        </header>
        <section class="howto-catchphrase">
            <p>
                La vente d’un bien immobilier est souvent synonyme d’un nouveau projet de vie. À la fois source d’enthousiasme et de stress, une vente immobilière se prépare minutieusement pour espérer trouver des acheteurs rapidement et vendre au prix souhaité. Pour vivre votre projet immobilier en toute confiance, nous vous accompagnons à chaque étape.
            </p>
        </section>
        <section class="grey-section">
            <div class="howto-wrapper">
                <h2 class="title--h2">Étape 1 : Bien s’informer</h2>
                <article class="howto-article">
                    <a href="#" class="howto-article__img-container howto-article__img-container--left">
                        <picture width="100%">
                    <source srcset="assets/img/comment/1.webp" type="image/webp">
                    <source srcset="assets/img/comment/1.webp">
                    <img src="assets/img/comment/1.webp" class="howto-article__img" alt="">
                </picture>
                    </a>
                    <div>
                        <header>
                            <h3 class="title--h3">Est-ce le bon moment pour vendre ?</h3>
                        </header>
                        <p>La première phase consiste à évaluer et comprendre le marché de l’immobilier dans votre quartier : quel est le prix au m² ? Est-il en baisse ou en hausse ? Y a-t-il autant d’acheteurs que de vendeurs ? </p>
                       
                    </div>
                </article>
                <article class="howto-article reverse">
                    <a href="#" class="howto-article__img-container howto-article__img-container--right">
                        <picture width="100%">
                    <source srcset="assets/img/comment/2.webp" type="image/webp">
                    <source srcset="assets/img/comment/2.webp">
                    <img src="assets/img/comment/2.webp" class="howto-article__img" alt="">
                </picture>
                    </a>
                    <div>
                        <header>
                            <h3 class="title--h3">Quel est le prix de vente des biens dans votre quartier ?</h3>
                        </header>
                        <p>Vous pouvez comparer les biens qui se sont vendus récemment dans votre quartier : y en a-t-il qui sont similaires au vôtre ? Combien se sont vendus et à quel prix ?</p>
                        
                    </div>
                </article>
                <article class="howto-article">
                    <a href="#" class="howto-article__img-container howto-article__img-container--left">
                        <picture width="100%">
                    <source srcset="assets/img/comment/3.webp" type="image/webp">
                    <source srcset="assets/img/comment/3.webp">
                    <img src="assets/img/comment/3.webp" class="howto-article__img" alt="">
                </picture>
                    </a>
                    <div style="margin: auto;">
                        <header>
                            <h3 class="title--h3">Quelle est la valeur de votre bien ?</h3>
                        </header>
                        <p>Elle dépend principalement de deux éléments :</p>
                        <ul>
                            <li>les caractéristiques de votre bien (étage, surface, nombre de pièces, exposition...)</li>
                            <li>la localisation (quartier, immeuble, proximité des transports et commerces...)</li>
                        </ul>
                       <p>À partir d'une bonne étude de ces caractéristiques vous pouvez vendre votre bien au meilleur prix.</p>

                    </div>
                </article>
            </div>
        </section>
        <section>
            <div class="howto-wrapper">
                <h2 class="howto__h2 title--h2">Étape 2 : Préparer sa vente</h2>
                <article class="howto-article reverse">
                    <a href="#" class="howto-article__img-container howto-article__img-container--right">
                        <picture width="100%">
                    <source srcset="assets/img/comment/4.webp" type="image/webp">
                    <source srcset="assets/img/comment/4.webp">
                    <img src="assets/img/comment/4.webp" class="howto-article__img">
                </picture>
                    </a>
                    <div>
                        <header>
                            <h3 class="title--h3">Comment fixer le bon prix de vente ?</h3>
                        </header>
                        <p>Estimer le juste prix vous assurera de vendre votre bien vite et au bon prix. C’est pourquoi une visite détaillée de votre propriété par un agent immobilier est indispensable pour achever votre estimation. Il va pouvoir analyser des critères plus subjectifs tels que le charme, le potentiel et les éventuels travaux qui auront un impact sur l’estimation de votre bien. </p>
                        <p>Le premier réflexe est souvent de regarder les agences près de chez vous. C’est une information importante mais il est encore plus intéressant de regarder leurs ventes. En maison, une agence ayant vendu près de chez vous sera la plus à même de vous accompagner, tandis qu’en appartement, une agence ayant vendu dans votre immeuble apportera une expertise plus poussée. Pour compléter vos recherches, vous pouvez aussi consulter leurs avis clients.</p>
                        <p>Pour comparer et vous assurer de fixer le bon prix de vente, nous vous recommandons d’interroger 3 agences différentes qui ont récemment vendu des biens proches du vôtre.</p>
                        
                    </div>
                </article>
            </div>
        </section>
        <section class="grey-section">
            <div class="howto-wrapper">
                <h2 class="title--h2">Étape 3 : Mettre en vente dans les meilleures conditions</h2>
                <article class="howto-article">
                    <a href="#" class="howto-article__img-container howto-article__img-container--left">
                        <picture width="100%">
                    <source srcset="assets/img/comment/5.webp" type="image/webp">
                    <source srcset="assets/img/comment/5.webp">
                    <img src="assets/img/comment/5.webp" class="howto-article__img" alt="">
                </picture>
                    </a>
                    <div>
                        <header>
                            <h3 class="title--h3">À quel agent confier votre bien ?</h3>
                        </header>
                        <p>Vous venez de faire estimer votre bien par 3 agents mais n’êtes pas décidé à leur confier la vente. N’hésitez pas ! L’agent immobilier va vous accompagner dans toutes les étapes : prises de rendez-vous, visites, démarches administratives... Il sait repérer les acquéreurs ayant un réel projet et vous évitera de perdre un temps précieux.</p>
                        <p>Pour évaluer son sérieux, vous pouvez vous appuyer sur le rapport d’estimation de votre bien : a-t-il fixé le bon prix ? Pour en juger, vous pouvez regarder les informations qu'il a utilisées (étude de marché, biens vendus similaires). Le premier contact est primordial : un agent qui aura su vous comprendre et vous convaincre aura plus de chance de vous faire rencontrer le bon acquéreur.</p>
                        <a [routerLink]="['/paragence']" class="arrow-link" >
                            Choisir la bonne agence
                        </a>
                    </div>
                </article>
                <article class="howto-article reverse">
                    <div class="howto-article__img-container howto-article__img-container--left">
                        <picture width="100%">
                    <source srcset="assets/img/comment/6.webp" type="image/webp">
                    <source srcset="assets/img/comment/6.webp">
                    <img src="assets/img/comment/6.webp" class="howto-article__img" alt="">
                </picture>
                    </div>
                    <div style="margin-right: 40px;">
                        <header>
                            <h3 class="title--h3">Comment augmenter vos chances de vendre ?</h3>
                        </header>
                        <p>L’agent a probablement déjà établi une liste d’acheteurs à contacter. N’hésitez pas à lui poser clairement la question.</p>
                        <p>Il peut aussi vous proposer des services additionnels gratuits, surtout en mandat exclusif, pour mettre en valeur votre bien : un photographe pour réaliser des photos de qualité pour votre annonce, ou même une visite en réalité virtuelle. Il peut également mettre en place de la publicité sur différents sites immobiliers pour maximiser la visibilité de votre annonce.</p>
                    </div>
                </article>
            </div>
        </section>
    </article>
    </div>
</div>
