<header class="landing-hero landing-hero--contact landing-hero--darken">
    <h1 class="landing-hero__title no-padding-bottom">Contactez-nous</h1>
</header>

<section class="section">
    <div class="section__content section__content--6col section__content--center">

        <div class="contact-comm">
            <div class="contact-comm__icon">
                <img src="./assets/img/icon-contact-mail.svg" alt="Contact par E-mail">
            </div>
            <div class="contact-comm__details">
                <h2 class="title--h3">Par internet</h2>
                <div class="contact-comm__text">
                    Vous pouvez nous contacter par courriel<br>
                    à l'adresse suivante :
                </div>
                <div class="contact-comm__cta">
                    <a href="#">immohomee@gmail.com</a>
                </div>
            </div>
        </div>

        <div class="contact-comm">
            <div class="contact-comm__icon">
                <img src="./assets/img/icon-contact-tel.svg" alt="Contact par téléphone">
            </div>
            <div class="contact-comm__details">
                <h2 class="title--h3">Par téléphone</h2>
                <div class="contact-comm__text">
                    Vous pouvez nous contacter par téléphone<br>
                    à ce numéro :
                </div>
                <div class="contact-comm__cta">
                    <a class="no-underline" href="#">
                        <span style="color: #1e91ff;font-family: WorkSans,-apple-system,blinkmacsystemfont,Segoe UI,roboto,oxygen,ubuntu,cantarell,Open Sans,Helvetica Neue,sans-serif;" class="pointer-event underline--hover">+216 24843595</span>   
                    </a>
                </div>
                <div class="contact-comm__cta">
                    <a class="no-underline" href="#">
                        <span style="color: #1e91ff;font-family: WorkSans,-apple-system,blinkmacsystemfont,Segoe UI,roboto,oxygen,ubuntu,cantarell,Open Sans,Helvetica Neue,sans-serif;" class="pointer-event underline--hover">+216 52129978</span>   
                    </a>
                </div>
            </div>
        </div>

        <div class="contact-comm">
            <div class="contact-comm__icon">
                <img src="./assets/img/icon-contact-pin.svg" alt="Notre adresse">
            </div>
            <div class="contact-comm__details">
                <h2 class="title--h3">Par courrier</h2>
                <div class="contact-comm__text">
                    Vous pouvez nous  visiter <br>
                    à :<br>
                    <span style="color: #1e91ff;font-family: WorkSans,-apple-system,blinkmacsystemfont,Segoe UI,roboto,oxygen,ubuntu,cantarell,Open Sans,Helvetica Neue,sans-serif;"> XYZ Road,XXX,XXX</span> 
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="full" id="map">

    </div>
</section>



