<div class="firstPage">
    <div class="post-header"></div>

    <div class="container container-col">
        <section class="the_post">
            <h1 class="title_page">Achat immobilier : 5 points avant de signer…</h1>

            <div class="content content_new">

                <p>
                    <b>Grande journée ! Vous avez trouvé le bien immobilier espéré et vous imaginez votre installation. Joie, excitation se mêlent. Prenez une bonne inspiration et retrouvez vos esprits. Pas question de vous engager à la légère. Êtes-vous certain que ce logement qui semble répondre à vos besoins et vos envies sera votre prochain achat ? Un coup de cœur à un instant T doit survivre dans la durée. Voici quelques points à checker pour vous assurer que votre futur investissement ne vous réserve pas de déconvenues.</b>
                </p>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <h3>1. <b>Le bien immobilier est-il au bon prix ?</b></h3>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <figure class="bloc_image_1">
                    <img src="./assets/img/1.jpg" alt="">
                </figure>

                <p>
                    <span style="font-weight: 400;">Le prix de l’appart visité ou de la maison correspond à votre budget. Pour autant, est-il au bon prix ? Pour le savoir, vous pouvez lire les petites annonces pour trouver un bien similaire et les comparer. Pour gagner du temps, il suffit de vous connecter sur 
                    </span> 
                    <a [routerLink]="['/home']" target="_blank" rel="noopener">
                        <span style="font-weight: 400;">Homee</span>
                    </a>.
                </p>

                <p>
                    <span style="font-weight: 400;">Ces informations acquises, </span>
                    <b>adaptez le prix en fonction des caractéristiques du bien immobilier</b>
                    <span style="font-weight: 400;"> en vue. Sachez que ses atouts et défauts influent sur le prix du m². Appliquez une décote pour un logement en rez-de-chaussée, premier étage, avec vue sur cour sombre, vis-à-vis à moins de 15 mètres, logement à rénover, mauvaise distribution des pièces. Majorez le prix pour une double orientation idéale (sud-ouest, sud-est), un ascenseur, une belle vue dégagée, l’absence de vis-à-vis, la présence d’une terrasse, d’un jardin avec piscine, d’une cuisine aménagée…</span>
                </p>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <h3><b>2. Inspecter l’état du logement</b></h3>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <figure class="bloc_image_1">
                    <img src="./assets/img/2.jpg" alt="">
                </figure>

                <p>
                    <b>Visites, contre-visites s’imposent et doivent être minutieuses. Vous avez repéré lors de la première visite ce qui vous attire ou vous déplaît souverainement. Maintenant c’est le moment de confirmer cette impression en faisant le tour des avantages et désagréments du bien.</b>
                    <span style="font-weight: 400;"> Découverte du logement en pleine journée, à une heure tardive, en semaine et le week-end, histoire d’apprécier la luminosité mais aussi le voisinage.</span>
                </p>
                <p>
                    <span style="font-weight: 400;">Le logement est encore meublé ? Demandez l’autorisation d’ouvrir les placards, de vérifier l’état des toilettes, de regarder dans les lieux humides (lave-linge, lave-vaisselle, salle-de-bains, toilettes, cave). Assurez-vous qu’aucun insecte nuisible (puces, cafards…) n’est installé dans votre futur logement.</span>
                </p>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <p>
                    <b>Les diagnostics obligatoires sont fournis avant la signature de la promesse de vente. Demandez à les recevoir au plus vite. Ils vous informent sur les risques potentiels du bien et le montant des travaux pour y remédier.</b>
                </p>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <h3><b>3. Évaluer la qualité du bâti ou de l’immeuble</b></h3>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <figure class="bloc_image_1">
                    <img src="./assets/img/3.jpg" alt="">
                </figure>
                <p>
                    <span style="font-weight: 400;">Ici pas de diagnostic immobilier. </span>
                    <b>Utilisez vos yeux pour repérer fissures, traces de fuites d’eau, d’humidité, crépi abîmé… Dans une maison, demandez à examiner les combles pour dresser un état des lieux de la charpente, de la qualité de l’isolation, voire de l’état général de la couverture.</b>
                    <span style="font-weight: 400;"> Faites appel à l’œil d’un spécialiste (artisan, architecte, expert immobilier) pour détecter les anomalies. Un acheteur averti en vaut deux. N’oubliez pas qu’une réfection de toit, une étanchéité extérieure peut vite se chiffrer à plusieurs dizaines de milliers d’euros.</span>
                </p>

                <p>
                    <span style="font-weight: 400;">Moins facile dans une copropriété, l’analyse de la qualité du bâtiment est tout aussi essentielle. Bien sûr vous avez en main les derniers PV d’assemblée générale qui indiquent les problèmes et travaux à venir, notamment le ravalement.</span>
                    <b> Faites un tour dans l’immeuble : au sous-sol, parking pour traquer l’humidité, les traces d’affaissement. Contactez les occupants du dernier étage pour “prendre le pouls” sur la qualité de la copropriété.</b>
                </p>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <h3><b>4. Décrypter l’emplacement et l’environnement du bien</b></h3>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <figure class="bloc_image_1">
                    <img src="./assets/img/4.jpg" alt="">
                </figure>
                <p>
                    <b>Qualité de vie du quartier.</b>
                        <span style="font-weight: 400;"> La proximité des transports en commun, d’axes routiers peut être un atout si l’on travaille loin de son domicile…</span>
                        <b> Il est important que vous établissiez la liste de vos critères qui seront, ou non, rédhibitoires pour l’achat. Nuisances sonores, olfactives liées au réseau routier, ferroviaire, à la présence de restaurants, bars, voire d’un stade, d’une usine, de parkings à proximité, d’un aéroport.</b>
                        <span style="font-weight: 400;"> Vous n’allez pas camper sur site 24h/24 pour évaluer tous ces risques. Allez frapper à la porte des voisins, discuter avec les commerçants pour avoir leur retour, leur sentiment sur la qualité de vie, la sécurité le soir…</span>
                </p>
                <p>
                    <span style="font-weight: 400;">Renseignez-vous également sur le </span>
                    <b>dynamisme de l’agglomération</b>
                    <span style="font-weight: 400;"> auprès du service urbanisme de la mairie. Futures constructions, réhabilitation d’immeubles, de quartiers, création de pistes cyclables, d’équipement public impactent l’avenir. Tenez compte aussi des conséquences à venir du Covid sur les commerces actuels.</span>
                </p>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <h3><b>5. N’oubliez pas le budget travaux…</b></h3>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <figure class="bloc_image_1">
                    <img src="./assets/img/5.jpg" alt="">
                </figure>
                <p>
                    <b>Même si ce logement répond en tout point à vos désirs, il est rare de pouvoir déposer ses valises sans faire quelques menus travaux</b>
                    <span style="font-weight: 400;">. L’embellissement d’un appart ou d’une maison pour avoir le sentiment d’être chez soi dépend des attentes de chacun. Équiper une cuisine, refaire une salle de bains, redécorer un étage ne demande pas le même budget. </span>
                </p>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>
            
            </div>
                
            <div class="author">
                <figure>
                    <img src="./assets/img/wissal.jpg" alt="">
                </figure>
                
                <div>
                    <p>
                        <strong>Wissal Klebi</strong>
                    </p>
                    <p>Responsable éditoriale de Homee</p>
                </div>
            </div>

            <div class="getTags post-tags">
                <p>En savoir plus</p>
                <ul>
                <li>
                    <a [routerLink]="['/home']">Home</a>
                </li>
                </ul>
            </div>

        </section>
    </div>
</div>
