.full-height-viewport {
    height: 53vh;
}

.header__title {
    font-family: "WorkSans",-apple-system,blinkmacsystemfont,"Segoe UI",roboto,oxygen,ubuntu,cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-weight: 500;
    color: black;
    margin-left: 2.1333333333rem;
    margin-top: .1333333333rem;
}
.progress-bar {
    background: #e2e2e2;
    height: .5333333333rem;
    position: relative;
    bottom: 2.4rem;
    width: 100%;
    z-index: 10;
}
.progress-bar__filled {
    background: linear-gradient(270deg,#4aa7ff,#0074e4);
    height: 8px;
    transition: width .3s ease-out;
    width: 30%;
}
.estima__wrapper {
    padding-top: .93333rem;
    width: 100%;
}

.centered-content {
    margin: 0 auto;
    max-width: 64.6666666667rem;
}
.estima__container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.estima__container-left {
    box-sizing: border-box;
    display: block;
    flex-direction: column;
    padding: 0 2.1333333333rem 0;
    position: relative;
    width: 67%;
}
.estima__container-left .form-wrapper {
    padding: 0 0 9.6rem;
}
.form-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    position: relative;
}
.step-title {
    margin: 0 0 2.6666666667rem;
    width: 100%;
}
.text--h2 {
    color: #3a3a3a;
    font-family: "WorkSans",-apple-system,blinkmacsystemfont,"Segoe UI",roboto,oxygen,ubuntu,cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
} 
.radio-rect-list {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -.5333333333rem;
    max-width: 35.3333333333rem;
    width: 100%;
}
.radio-rect-list .radio-rect-list__item {
    box-sizing: border-box;
    flex: 1 1;
    flex-basis: calc(33% - 1.06667rem);
    margin: .3333333333rem;
}

.radio-rect:hover {
    background-color: #e8e8ee;
}

.radio-rect {
    align-items: center;
    border: solid #e2e2e2;
    border-width: 1px 1px 5px;
    border-radius: .2rem;
    color: #3a3a3a;
    cursor: pointer;
    display: inline-flex;
    height: 7.6rem;
    justify-content: center;
    min-width: 10.6666666667rem;
    position: relative;
    text-align: center;
    z-index: 1;
}
.radio-rect__info {
    align-items: center;
    color: #3a3a3a;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.path__stroke path, .polyline__stroke polyline {
    stroke: #3a3a3a;
}
.radio-rect__label {
    color: #3a3a3a;
    font-family: "WorkSans",-apple-system,blinkmacsystemfont,"Segoe UI",roboto,oxygen,ubuntu,cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: .9333333333rem;
    font-weight: 400;
    line-height: 1.2rem;
    text-transform: uppercase;
}
.radio-rect__radio {
    display: none;
}
.label-container {
    max-width: 100%;
}
.radio {
    display: none;
}
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input {
    overflow: visible;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.label {
    color: #3a3a3a;
    display: inline;
    font-family: "WorkSans",-apple-system,blinkmacsystemfont,"Segoe UI",roboto,oxygen,ubuntu,cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 1.1333333333rem;
    line-height: 1.6rem;
    vertical-align: middle;
    word-break: break-word;
}
.label--radio {
    cursor: pointer;
    padding: 0;
    position: relative;
}
.label__content {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
}
.margin-right-half {
    margin-right: .2666666667rem !important;
}

.bottom-navigation {
    bottom: 9.5rem;
    box-sizing: border-box;
    height: 3.9333333333rem;
    left: 0;
    position: relative;
    width: 100%;
    z-index: 3;
}
.flex {
    display: flex;
}
.full-height {
    height: 100%;
}
.bottom-navigation__buttons {
    align-items: center;
    background-color: #fff;
    border-top: 1px solid #eee;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0 2.1333333333rem;
    width: calc(67% - 4.26667rem);
}
.btn--primary {
    background-color: #1432be;
    border-color: #1432be;
    color: #fff;
}
.no-touch .btn--primary:hover {
    background-color: #0f2690;
    border-color: #0f2690;
    color: #fff;
    text-decoration: none;
}
.btn {
    border: 1px solid transparent;
    border-radius: .2rem;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: "WorkSans",-apple-system,blinkmacsystemfont,"Segoe UI",roboto,oxygen,ubuntu,cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.3333333333rem;
    min-width: 9.6666666667rem;
    padding: .8666666667rem 1.6rem;
    text-align: center;
    text-decoration: none; 
    transition: .3s;
    margin-top: 2rem;
}
button {
    text-transform: none;
    overflow: visible;
    margin: 0;
}

[type="button"], button {
    -webkit-appearance: button;
}

.bottom-navigation__buttons .btn--previous {
    color: #3a3a3a;
    min-width: 0;
}
.btn--previous {
    background: transparent;
    border: 0;
    display: flex;
    font-weight: 400;
    justify-content: left;
    padding: 0;
}
.btn--previous .icon {
    display: block;
}
.icon-arrow_downward {
    content: url(/assets/img/long-arrow-alt-left-solid.svg);
    width: .6rem;
    height: 1.499rem;   
} 

@media (max-width: 992px){
    .estima__container-left {
        width: 100%;
    }
    .full-height-viewport {
        height: auto;
    }
    .estima__container-left .form-wrapper{
        padding: 0;
    }
    .bottom-navigation{
        position: static;
    }
} 