<div class="thirdPage">
    <div class="post-header"></div>
    <div class="container container-col">
        <section class="the_post">
            <h1 class="title_page">Les 3 critères pour choisir le bon acheteur</h1>

            <div class="content content_new">
                <p>
                    <b>Vous avez épluché chacun de leur dossier et pour autant le doute subsiste ? Pour être plus serein, nous avons sélectionné les 4 critères fondamentaux pour ne pas se tromper d’acheteur. Sortez les post-it !</b>
                </p>
                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>
                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>
                <h3><b>Critère 1 : ses motivations        </b></h3>
                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>
                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>
                <figure class="bloc_image_1">
                    <img src="./assets/img/9.jpg" alt="">
                </figure>
                <p>
                    <span style="font-weight: 400;">
                    Un acheteur semble intéressé par votre bien ? Il ne faut pas hésiter à le questionner et « rentrer dans sa tête » tel un mentalist ou un medium. Cela signifie :
                    </span>
                </p>
                <ul>
                    <li>
                        <span style="font-weight: 400;">&nbsp;</span>
                        <b>connaître son projet de vie</b>
                        <span style="font-weight: 400;"> : pourquoi il est en recherche ? Les raisons ne manquent pas : évolution de la famille, mutation professionnelle, recherche d’un nouveau cadre de vie, départ en retraite…</span>
                    </li>
                    <li>
                        <b>où il en est dans ses recherches</b>
                        <span style="font-weight: 400;"> : pressé d’acheter ? S’il est propriétaire, a-t-il déjà mis en vente son logement ? A-t-il déjà visité des biens et combien ? Quels sont ses critères incontournables ?&nbsp;</span>
                    </li>
                    <li>
                        <span style="font-weight: 400;">&nbsp;</span>
                        <b>sa recherche est-elle précise</b>
                        <span style="font-weight: 400;"> : est-il clair sur les critères principaux du bien recherché ?</span>
                    </li>
                </ul>
                <p>
                    <span style="font-weight: 400;">Tous ces éléments servent à comprendre son projet d’achat et son profil d’acheteur.</span>
                </p>
                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>
                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>
                <h3><b>Critère 2 : Son dossier de financement</b></h3>
                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>
                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>
                <figure class="bloc_image_1">
                    <img src="./assets/img/10.jpg" alt="">
                </figure>
                <p>
                    <span style="font-weight: 400;">La clé de la réussite, c’est la solidité du financement. Assurez-vous donc de la solvabilité de l’acheteur et de sa capacité à obtenir son financement. </span>
                </p>
                <p>
                    <span style="font-weight: 400;"> 
                        <b>Tout commence par son apport personnel.</b> Bien évidemment vous n’allez pas lui demander ces informations de but en blanc, c’est, de toute manière, interdit. Soyez plus malin et sollicitez-le en faisant connaissance. Par exemple : est-il déjà propriétaire de sa résidence principale ? La vente de ce logement c’est l’assurance que son banquier sera attentif à sa demande de prêt.
                    </span>
                </p>
                <p>
                    <span style="font-weight: 400;">Certaines situations personnelles permettent d’affiner votre point de vue : un prêt familial pour le premier achat d’un jeune, une personne divorcée ayant vendu un bien dispose d’un vrai apport, un acheteur bénéficiant d’un héritage…</span>
                </p>
                <p>
                    <span style="font-weight: 400;">
                        <b>Vient ensuite sa capacité à emprunter.</b> Sur ce point, le questionnement est indispensable et l’acheteur doit répondre simplement et clairement. À défaut, il faut se méfier.
                    </span>
                </p>
                <p>
                    <span style="font-weight: 400;">A-t-il déjà sollicité son banquier ou un courtier immobilier pour faire une simulation ? Sait-il quel montant de prêt et quel taux il peut obtenir ? Le prix de votre bien est-il en phase avec son budget ? L’accord de principe de l’organisme financeur est-il obtenu ?</span>
                </p>

                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>
                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>
                <p>
                    <span style="font-weight: 400;">Le candidat à l’achat vous paraît sérieux ?
                        <b> N’hésitez pas à demander une attestation de faisabilité de financement, preuve que l’organisme qui l’épaule est bien informé de son projet d’achat immobilier.</b>
                    </span>
                </p>
                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>
                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>
                <h3><b>Critère 3 : Sa situation personnelle et professionnelle</b></h3>
                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>
                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>
                <figure class="bloc_image_1">
                    <img src="./assets/img/11.jpg" alt="">
                </figure>
                <p>
                    <span style="font-weight: 400;">
                        <b>Laissez votre visiteur se raconter, vous en apprendrez souvent plus que vous n’imaginez. Et ces éléments mis bout à bout vous éclaireront sur le meilleur acheteur.
                        </b> Vous devez savoir s’il achète le bien seul, s’il vit en couple, s’il est marié, avec ou sans enfant.
                    </span>
                </p>
                <p>
                    <span style="font-weight: 400;">Les informations sur sa situation professionnelle sont également essentielles : salarié, chômeur temporaire ou permanent, indépendant, fonctionnaire. Dans quelle branche travaille-t-il… ? Avec la crise du Covid-19, la vigilance doit être renforcée car la situation de nombreux secteurs d’activité est fragile. Les banques, elles, y sont vigilantes et se réservent le droit de refus de délivrance du prêt en fonction de sa capacité d’emprunt. </span>
                </p>
                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>
                <div>
                    <div class="font_preload" style="opacity: 0;"></div>
                </div>
            </div>
            
            <div class="author">
                <figure>            
                    <img src="./assets/img/Ghada.jpg" alt="">
                </figure>          
                <div>
                    <p><strong>Ghada Bel Madhkour</strong></p>
                    <p>Responsable éditoriale de Homee</p>
                </div>
            </div>

            <div class="getTags post-tags">
                <p>En savoir plus</p>
                <ul>
                    <li>
                        <a [routerLink]="['/home']">Home</a>
                    </li>          
                </ul>
            </div>
        </section>
    </div>
</div>
