<div class="faqPage">
    <div class="cover cover-small cover-bg-team-7">
        <div class="wrapper">
            <p class="margin-bottom-10">Qui sommes-nous ?</p>
            <p class="h1 h-alt-2 no-margin">QUESTIONS FRÉQUENTES</p>
        </div>
    </div>
    
    <div class="navbar-wrapper navbar-sticky" style="top: 92px;">
        <div class="wrapper"> 
        <nav class="navbar" style="font-size: 0.9em;">
            <div class="first-child-item"></div>
            <div class="load-state-item">
            <a [routerLink]="['/apropos']" href="/qui-sommes-nous/notre-philosophie" >Notre philosophie</a></div>
            <a [routerLink]="['/equipe']" href="/qui-sommes-nous/nos-equipes">Notre équipe</a>
            <a [routerLink]="['/aide']" href="/qui-sommes-nous/questions-frequentes" class="current">Questions fréquentes</a>
        </nav>
        </div>
    </div>
    
    <div class="wrapper padding-top-60 padding-bottom-60">

        <p class="h3 h-alt font-weight-normal margin-bottom-60">
            Avant de décider de vendre ou louer votre bien vous-mêmes, vous avez souvent quelques interrogations…
        </p>

        <section class="faq-page-wrapper" data-faq-wrapper="">
            <h1 class="text--h1 text--center no-margin-top">Questions — Réponses</h1>
            <p class="margin-top-triple margin-bottom-triple">Ci-dessous, nos réponses à vos questions les plus fréquemment posées.<br> Si vous ne trouvez pas de réponse à votre question dans cette rubrique, n'hésitez surtout pas <a [routerLink]="['/contact']" href="/contact">à nous contacter.</a></p>
            <div>

                <div class="question">
                    <label>        
                        Qu’est-ce que Homee fait pour moi  ?
                    </label>
                    <span class="questioncontainer">    
                        <input type="checkbox" class="ch">
                        <span class="checkmark"></span>
                        <div class="answer">
                            <p>Nous pouvons vous aider, selon vos besoins, à toutes les étapes de votre projet.</p>
                            <ul>
                                <li> Création de l'annonce : </li> 
                                <p>Nous allons fournir un espace où vous allez décrire votre logement les photos choisies, le prix fixé,etc.. <a [routerLink]="['/enligne']">créez une annonce vendeuse !</a></p>    
                                   
                                <li>Organisation des visites :</li>
                                <p>La plupart du temps le 1er contact se fait par téléphone. Et c’est une bonne chose, parce que ça vous permet de discuter avec les acheteurs, de répondre à leurs questions sur votre bien, mais aussi de les interroger sur leur projet. Ah oui !!! Avant de raccrocher, n’oubliez pas de donner l’adresse précise de votre bien, et aussi de leur demander leur numéro de téléphone : ça vous permet de confirmer le rendez-vous avant la visite, de le décaler si besoin ou d'annuler si entre-temps vous avez trouvé preneur ! ... il faut faire vite, car sitôt votre annonce en ligne ça peut très vite sonner !</p> 
                            </ul>
                        </div>
                    </span>
                       
                </div>

                <div class="question">
                    <label>        
                        Je n'ai pas envie de m'occuper des visites.
                    </label>
                    <span class="questioncontainer">    
                        <input type="checkbox" class="ch">
                        <span class="checkmark"></span>
                        <div class="answer">
                            <p>Les visites, on s'en fait souvent un monde ! Pourtant, ce n'est pas très compliqué : vous connaissez votre logement mieux que personne, vous savez en parler.

                                Ca ne prend pas non plus énormément de temps, car si votre annonce est assez complète, les personnes qui vont venir voir votre logement seront déjà pré-sélectionnés. En moyenne, il faut entre 3 à 10 visites pour trouver un acquéreur ou un locataire.
                                
                                En pratique, il suffit donc de prendre rendez-vous avec eux, puis de leur montrer votre logement naturellement. Préparez les pièces qui permettent de justifier les frais (factures, taxe foncière, taxe d'habitation, charges de copropriété), et c'est tout !</p>
                        </div>
                    </span>
                       
                </div>

                <div class="question">
                    <label>         
                            Comment se passe l'achat immobilier ?
                    </label>
                    <span class="questioncontainer">    
                        <input type="checkbox" class="ch">
                        <span class="checkmark"></span>
                        <div class="answer">
                            <ol>
                                <li> Choisir son logement 
                                    <p>Pour bien choisir votre logement, commencez par faire une estimation du budget que vous pouvez y consacrer. On considère généralement qu’il ne doit pas excéder le tiers de vos revenus. N’oubliez pas néanmoins que le loyer ne représente qu’une partie de ce budget. Pour vous faire une idée de la somme totale, ajoutez les charges locatives, la taxe d’habitation et les dépenses courantes. Ces dernières peuvent d’ailleurs varier considérablement d’un logement à l’autre.</p> 
                                </li>
                                <li> Visiter 
                                    <p>Vous avez trouvé plusieurs logements susceptibles de vous convenir et vous avez planifié vos visites. Cette étape, importante, demande une certaine préparation, surtout lorsque l'on n'est pas un expert en immobilier. Cette préparation vous évitera les mauvaises surprises une fois l'acte de vente signé. Questions à poser, conseils, trucs et astuces pour faire le bon choix.  </p>
                                </li>
                                <li> Trouver son crédit
                                    <p>Pour financer votre projet, vous devez probablement prendre un crédit immobilier. Vous ne savez pas combien vous pouvez emprunter ? Vos mensualités ne doivent pas dépasser un tiers de vos revenus.</p>
                                </li>
                                <li> Les aides à l'achat 
                                    <p>Vous pouvez bénéficier de nombreux coups de pouce financiers pour vous aider à boucler le budget de votre projet immobilier. Certaines prennent la forme de crédits gratuits, de subventions, d’autres sont des financements bonifiés comme le Plan épargne logement.</p>
                                </li>
                                <li> Acheter en couple
                                    <p>Vivre en couple, c’est être mariés, pacsés ou concubins et partager une existence commune dans un même lieu. Si vous décidez un jour d’acheter ensemble, vous serez nécessairement amenés à vous poser des questions : vaut-il mieux acheter en étant mariés ? Quelles précautions prendre si on décide de se passer de Monsieur le Maire ? Quelles incidences selon le choix de tel ou tel statut ? Est-on nécessairement en indivision ?</p>
                                </li>
                                <li> L'offre d'achat 
                                    <p>Poser une option sur un bien immobilier et s'assurer les bonnes grâces du vendeur, c’est là tout l’objectif de l’offre d’achat. Proposition écrite formulée avant la signature de la promesse ou du compromis de vente, elle mentionne le souhait de réserver le logement convoité à un prix arrêté.</p>
                                </li>
                                <li> Choisir son notaire 
                                    <p>la signature du compromis de vente et celle de l’acte authentique. Si vous pouvez recourir au notaire du vendeur, vous pouvez également faire appel à votre propre notaire. Ce professionnel, garant de la sécurité juridique de la transaction immobilière, est là pour vous conseiller lors des différentes étapes de votre acquisition.</p>
                                </li>
                                <li> Le compromis de vente 
                                    <p>Vous avez trouvé la maison ou l'appartement de vos rêves ? Il est temps de concrétiser votre achat. La première étape est la signature du compromis de vente ? Qu’est-ce qu’un compromis de vente ? Que doit-il contenir ? Faut-il le signer devant notaire ? A quoi vous engage-t-il ? Bénéficiez-vous d’un délai de rétractation ? Voici quelques questions que vous vous poserez certainement au moment de passer à l’acte.</p>
                                </li>
                                <li> L'acte de vente 
                                    <p>Et voilà ! C’est le grand moment, vous allez devenir propriétaire du logement que vous convoitiez. Il ne vous reste qu’à signer l’acte de vente chez le notaire et à repartir avec les clés. Au passage, il faudra quand même verser le prix de vente et les frais de notaire ! L’acte de vente est signé environ trois mois après la conclusion du compromis de vente. Il permet de constater le transfert de propriété.</p>
                                </li>
                                <li> Les frais de notaire 
                                    <p>Le montant des frais de notaire. Les frais d'acquisition, couramment appelés « frais de notaire », qui sont en réalité composés de plusieurs postes, dont les émoluments du notaire s'ajoutent au prix d'achat du bien. Pour un logement ancien, on estime ces frais à environ 8% du prix de vente.</p>
                                </li>
                                <li> Le déménagement 
                                    <p>Déménager est souvent une source de stress. Il faut dire qu’avant d’emménager dans votre nouveau nid douillet, il faut penser à de nombreuses choses. Vous devrez notamment sélectionner un professionnel fiable, prévenir les administrations et les différents fournisseurs de votre changement d’adresse, trier les papiers importants ou encore faire les cartons.</p>
                                </li>
                                <li> Les garanties aprés l'achat 
                                    <p>L’achat d’un logement ancien nécessite une ou plusieurs visites. Vous pouvez au besoin être accompagné d’un professionnel du bâtiment pour inspecter les lieux et demander des devis de travaux. Si malgré tout vous avez des mauvaises surprises, vous pourrez dans les cas graves vous retourner contre le vendeur, notamment en cas de vice caché.</p>
                                </li>
                            </ol>
                        </div>
                    </span>
                       
                </div>

                <div class="question">
                    <label>         
                            Comment se passe la vente immobilier ?
                    </label>
                    <span class="questioncontainer">    
                        <input type="checkbox" class="ch">
                        <span class="checkmark"></span>
                        <div class="answer">
                            <ol>
                                <li> Des Vendeurs racontent 
                                    <p>Des vendeurs racontent comment ils ont trouvé un acquéreur et conclu leur vente. Découvrez leurs astuces pratiques et leurs solutions pour réussir votre vente !</p> 
                                </li>
                                <li> Vendre sans agence 
                                    <p>Pour vendre votre bien sans agence, vous devez aussi trouver des acquéreurs et rédiger un compromis de vente vous-même. Celui-ci engage conjointement le vendeur et l'acquéreur jusqu'à ce que la vente soit signée chez le notaire.</p>
                                </li>
                                <li> Préparer sa vente
                                    <p>Pour vendre plus rapidement, il vaut mieux présenter un logement en bon état. Dans la plupart des cas, quelques conseils de bon sens suffisent : ranger, désencombrer, dépersonnaliser... C'est ce qu'on appelle le homestaging ! Parfois certains travaux sont indispensables avant de vendre afin d'augmenter la valeur du bien. 

                                        Enfin, vous envisagez peut-être des modalités particulières pour vendre : vente d'un logement occupé, viager, location-accession...</p>
                                </li>
                                <li> Fixer son prix 
                                    <p>Bien fixer son prix de vente, c'est une étape fondamentale pour réussir sa vente dans les meilleurs délais. Et ce n'est pas sorcier : rappelez-vous que les acquéreurs sont des particuliers comme vous, et qu'ils vont tout simplement comparer les prix des logements qu'ils trouvent sur le marché !</p>
                                </li>
                                <li> Créer son annonce
                                    <p>Une bonne annonce, c'est simple : il faut un prix de vente correct, des photos vendeuses et un descriptif clair et honnête. Sur Homee, nous relisons toutes les annonces et nous optimisons la vôtre.</p>
                                </li>
                                <li> Gérer ses visites 
                                    <p>Vous avez reçu vos premiers contacts et ils veulent visiter votre logement ? C'est bon signe, votre annonce leur a plu ! Une visite prend environ 20 à 30 mn, le temps de faire le tour de votre bien. Rangez-le et nettoyez-le, les acquéreurs se projetteront plus facilement. Et ne vous inquiétez pas pour les questions : vous connaissez votre logement mieux que personne, vous saurez y répondre !</p>
                                </li>
                                <li> Accepter une offre d'achat 
                                    <p>Vous avez reçu une offre d'achat ? Félicitations ! Si elle est au prix de l'annonce, c'est parfait, vous pouvez passer directement à l'étape suivante. Si elle est en dessous, vous entrez alors en phase de négociation. Vous devez vous mettre d'accord sur le prix. Pour cela, relisez nos quelques conseils sur la fixation du prix de vente. Avez-vous eu d'autres visiteurs intéressés ? Depuis combien de temps essayez-vous de vendre ? En tout cas, ne répondez pas à la légère, car si vous acceptez l'offre, vous serez engagé à vendre. </p>
                                </li>
                                <li> Les diagnostics immobiliers 
                                    <p>Pour vendre un logement, vous devez obligatoirement fournir à l’acheteur, dès le compromis de vente, des diagnostics techniques dont le nombre varie selon la date de construction et la localisation du bien. Il peut s’agir de l’état des risques et pollutions, des diagnostics plomb, amiante, termites, gaz, électricité et assainissement mais aussi de la performance énergétique et de la présence d’un risque de mérule. En copropriété, il faut aussi fournir la superficie loi Carrez.
                                        Nouveautés 2020, une information sur les nuisances sonores aériennes doit être fournie tandis qu'une étude de sol s'impose lors de la vente d'un terrain constructible.</p>
                                </li>
                                <li> Choisir un notaire 
                                    <p>Le recours à un notaire est incontournable dans une vente immobilière.  En tant qu’officier ministériel, il est le seul à pouvoir officialiser une transaction via la rédaction d’un acte authentique, soit l’acte de vente définitif.</p>
                                </li>
                                <li> Signer un compromis de vente 
                                    <p>Une fois l’acheteur trouvé, vous allez signer un compromis de vente. C’est la première étape de la vente, suivie environ trois mois après par la signature de l’acte de vente. Il est vivement recommandé de signer ce compromis chez le notaire, même si ce n'est pas obligatoire.</p>
                                </li>
                                <li> Signer l'acte définitif
                                    <p>Le jour où vous signez l’acte de vente définitif avec votre acheteur, vous lui transmettez la propriété de votre logement. Il vous verse le prix et vous lui remettez les clés. Mais pas toujours ! Il est parfois possible de différer votre départ, à condition que votre acheteur l’accepte. Il arrive aussi que l'acheteur souhaite avoir les clés avant d'avoir signé l'acte de vente. Ce type d’arrangement n’est possible que si le notaire le prévoit dans l’acte de vente. Une fois la vente signée, elle est ensuite publiée au service de la publicité foncière pour l’officialiser.</p>
                                </li>
                                <li> Payer la taxe sur la plus value ? 
                                    <p>Si vous vendez votre résidence principale, c’est facile, vous êtes totalement exonéré et vous n’avez pas d’impôt sur la plus-value immobilière à payer. Si en revanche, vous vendez une résidence secondaire ou un bien locatif, vous devrez peut-être payer un impôt sur le gain que vous réalisez. La plus-value immobilière, c’est la différence entre le prix de vente et le prix auquel vous avez acheté ce bien. Elle est taxée à 19 % au titre de l’impôt sur le revenu et à 17,2 % au titre des prélèvements sociaux. Pour connaître le montant de votre impôt, utilisez notre outil de simulation.</p>
                                </li>
                            </ol>
                        </div>
                    </span>
                       
                </div>

                <div class="question">
                    <label>      
                        Comment se passe la signature ?
                    </label>
                    <span class="questioncontainer">    
                        <input type="checkbox" class="ch">
                        <span class="checkmark"></span>
                        <div class="answer">
                            <p> En vente, dès que vous avez reçu une offre qui vous convient, prenez rendez-vous chez le notaire avec l'acquéreur. 
                                Le notaire vérifiera toutes les pièces, préparera le compromis de vente puis l'acte de vente. 
                                Et il n'y a rien à économiser de ce côté là, car les frais de notaire sont fixés pour toutes les ventes ! Alors autant s'appuyer sur lui. 
                                En cas de doute, vous pouvez évidemment aussi nous contacter.
                                En location, le contrat est signé entre le propriétaire et les locataires (et éventuellement les garants).</p>
                        </div>
                    </span>        
                </div>

            </div>
        </section>
    </div>
</div>
