<div class="fourthPage">
    <div class="post-header"></div>
        <div class="container container-col">
            <section class="the_post">
                <h1 class="title_page"> Comment vendre un bien en indivision ?</h1>

                <div class="content content_new">
                    <p>
                        <b>La maison de la grand-mère est en indivision depuis 25 ans mais aujourd’hui certains ne veulent plus s’en occuper. Vous venez d’hériter d’un bien et vous êtes en indivision avec vos frères et sœurs mais vous préférez des liquidités. Vous avez acheté en indivision un bien avec votre « moitié » mais la lune de miel est un lointain passé. Comment faire pour vendre, vous séparer de ce patrimoine familial, de cette propriété commune ? Peut-on vendre seul ? Explications…</b>
                    </p>
                    <div>
                        <div class="font_preload" style="opacity: 0;"></div>
                    </div>
                    <div>
                        <div class="font_preload" style="opacity: 0;"></div>
                    </div>
                    <h3><b>Indivision, Quésaco?</b></h3>
                    <div>
                        <div class="font_preload" style="opacity: 0;"></div>
                    </div>
                    <div>
                        <div class="font_preload" style="opacity: 0;"></div>
                    </div>
                    <figure class="bloc_image_1">
                        <img src="./assets/img/12.jpg" alt="">
                    </figure>
                    <p>
                        <span style="font-weight: 400;">Deux ou plusieurs personnes propriétaires du même bien ? Le régime de l’indivision est dès lors constitué. L’indivision est souvent la solution la plus simple et pratique pour acheter un bien à plusieurs (pas de démarches particulières). Voilà pourquoi elle attire les couples pacsés. Chaque indivisaire est propriétaire à hauteur de sa quote-part indiquée dans l’acte notarié d’acquisition ou de succession.</span>
                    </p>
                    <p>
                        <span style="font-weight: 400;">
                            <b>En indivision, chacun des propriétaires a des droits sur tout le bien mais les décisions doivent être prises à l’unanimité.</b> Plus facile à mettre en œuvre lorsque l’on est 2 que 4, 5 ou 7. Les indivisions avec de nombreux membres sont légion, notamment lorsque la situation n’est pas choisie. C’est le cas par exemple à la suite d’un décès lorsque les enfants, héritiers de leur dernier parent, ne vendent pas immédiatement le bien et restent de fait en indivision.
                        </span>
                    </p>
                    <div>
                        <div class="font_preload" style="opacity: 0;"></div>
                    </div>
                    <div>
                        <div class="font_preload" style="opacity: 0;"></div>
                    </div>
                    <h3><b>2. Sortir du bien seul c’est possible</b></h3>
                    <div>
                        <div class="font_preload" style="opacity: 0;"></div>
                    </div>
                    <div>
                        <div class="font_preload" style="opacity: 0;"></div>
                    </div>
                    <figure class="bloc_image_1">
                        <img src="./assets/img/13.jpg" alt="">
                    </figure>
            
                    <div>
                        <div class="font_preload" style="opacity: 0;"></div>
                    </div>
                    <div>
                        <div class="font_preload" style="opacity: 0;"></div>
                    </div>
                    <ul>
                        <li>
                            <span style="font-weight: 400;">&nbsp;</span>
                            <b>Vendre à un co-indivisaire</b>
                            <span style="font-weight: 400;"><br> <br>Vous voulez vendre votre part dans la maison de grand-maman ou dans le chalet de montagne ? Aucun problème… à partir du moment où l’un des autres indivisaires veut bien racheter votre part.Une vente, c’est bien mais à quel prix ? Pas simple à définir : vous voulez en tirer le maximum et votre frère ou cousin veut l’acquérir au meilleur prix.</span>
                        </li><br> 
                        <li>
                            <b>Vendre à un tiers</b>
                            <span style="font-weight: 400;"><br><br>Vous avez décidé de vendre et avez déjà un acquéreur, tiers à l’indivision. Ce peut être un autre membre de la famille ou une personne sans lien avec vous. Vous devez informer les co-indivisaires du prix, des conditions de vente et des coordonnées de l’acheteur par voie d’huissier.
                            <br><br>Attention : vos co-indivisaires ont un mois pour exercer leur droit de préemption si vous présentez un acheteur. L’un d’eux est intéressé ? L’acte de vente entre vous doit être signé dans les 2 mois.</span>
                        </li>
                    </ul>
                    <div>
                        <div class="font_preload" style="opacity: 0;"></div>
                    </div>
                    <div>
                        <div class="font_preload" style="opacity: 0;"></div>
                    </div>
                    <h3><b>3. Mettre fin à l’indivision en vendant tous ensemble</b></h3>
                    <div>
                        <div class="font_preload" style="opacity: 0;"></div>
                    </div>
                    <div>
                        <div class="font_preload" style="opacity: 0;"></div>
                    </div>
                    <figure class="bloc_image_1">
                        <img src="./assets/img/14.jpg" alt="">
                    </figure>
                    <p>
                        <span style="font-weight: 400;">Au fil des discussions, celui qui veut vendre se rend compte que ce bien en indivision est devenu une charge pour tous. Afin d’aider les enfants à s’installer, permettre à certains de partir à l’étranger, la vente est la meilleure option. Vous vous retrouvez dans cette histoire ? La situation redevient une transaction immobilière « classique ». Les co-indivisaires mettent le bien en vente et se partagent le prix en fonction de leurs parts dans l’indivision. Le régime de l’indivision disparaît avec la cession du bien.</span>
                    </p>

                    <div>
                        <div class="font_preload" style="opacity: 0;"></div>
                    </div>
                    <div>
                        <div class="font_preload" style="opacity: 0;"></div>
                    </div>
                </div>
                
                <div class="author">
                    <figure>            
                        <img src="./assets/img/Ghada.jpg" alt="">
                    </figure>          
                    <div>
                        <p><strong>Ghada Bel Madhkour</strong></p>
                        <p>Responsable éditoriale de Homee</p>
                    </div>
                </div>
                <div class="getTags post-tags">
                    <p>En savoir plus</p>
                    <ul>
                        <li>
                            <a [routerLink]="['/home']">Home</a>
                        </li>          
                    </ul>
                </div>
        </section>
    </div>
</div>
