<div id="content-id" class="page-container">
    <aside class="side-container">
        <ul class="list side-container__menu">
            <li class="list-item list-item--active">
                <a href="#espacePreneur" class="link link--no-underline list-item__content list-item__content--button">
                    <div class="list-item-text">
                        <span class="list-item-text__primary">Annonces sauvegardées</span>
                    </div>
                </a>
            </li>

            <li class="list-item">
                <a href="#profilPreneur" class="link link--no-underline list-item__content list-item__content--button">
                    <div class="list-item-text">
                        <span class="list-item-text__primary">Profil</span>
                    </div>
                </a>
            </li>
        </ul>
    </aside>

    <div class="content-wrapper">
        <div href="#espacePreneur" class="full-width">
            <section class="dashboard-section">
                <p class="h2 h-alt">Mes favoris</p>
					<div class="habitation-card-list">
                        <div class="card card--elevation-1 habitation-card">
                            <p class="text text--m text--bold habitation-card__address">
                                Avenue de la Liberté, Dar Chaabane Al Fehri
                            </p>
                            <ul class="tags-wrapper habitation-tags habitation-card__tags">
                                <li class="tag tag--neutral-30 tag--outlined">
                                    <span class="tag__text">240m²</span>
                                </li>
                                <li class="tag tag--neutral-30 tag--outlined">
                                    <span class="tag__text">1 pièce</span>
                                </li>
                            </ul>
                            <p class="text text--m text--complementary margin-bottom-half">Le montant de la mise à prix fixé </p>
                            <p class="text text--l text--bold habitation-card__price">80 000&nbsp;dt</p>
                            <a class="button button--primary button--large button--outlined habitations-section__link"  href="#">
                                <span class="button__content">
                                    Supprimer le favoris
                                </span>
                            </a>
                        </div> 
                    </div>			            
            </section>
        </div>

        <div href="#profilPreneur" class="full-width hide">

        </div>

    </div>

</div>

