.page-container{
    font-family: "WorkSans",-apple-system,blinkmacsystemfont,"Segoe UI",roboto,oxygen,ubuntu,cantarell,"Open Sans","Helvetica Neue",sans-serif;
    display: flex;
    max-width: 100%;
    padding: 1.5rem 3rem;
    .side-container{
        width: 25%;
        height: 45vh;
        margin-right: 5%;
        .list{
            list-style-type: none;
            padding: 0;
            box-shadow: 0 1px 4px 0 #0074e4;
            border-radius: .5rem;
            padding: .5rem 0;
            .list-item {
                color: #0074e4;
                font-weight: 500;
                .list-item-text{
                    padding: 0.75rem 1rem;
                }
                .link{
                    color: #0074e4;
                }
            }
            .list-item--active {
                position: relative;
                color: #0074e4;
                .link{
                    color: #0074e4;
                }
                &:before{
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 4px;
                    height: 100%;
                    background: linear-gradient(270deg,#03EFFE,#3CBDFE);
                    content: "";
                }
            }
        }
    }
    .habitation-card-list{
        align-self: flex-start;
        .habitation-card{
            box-shadow: 0 1px 6px 1px rgba(0,0,0,.2);
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            overflow: hidden;
            padding: 1rem;
            border-radius: .5rem;
            padding-right: 4rem;
            max-width: 100%;
            .habitation-card__address{
                width: 100%;
                text-overflow: ellipsis;
                padding-bottom: 1rem;
                font-weight: bold;
                color: #3a3a3a;
                font-size: 1rem;
                line-height: 1.5;
                letter-spacing: 0;
            }
            .tags-wrapper {
                list-style-type: none;
                padding: 0;
                display: flex;
                width: 100%;
                .tag{
                    border: 1px solid #d8d8d8;
                    margin: .5rem .5rem 0 0;
                    padding: calc(.25rem - 1px) calc(1rem - 1px);
                    display: inline-flex;
                    max-width: 100%;
                    color: #3a3a3a;
                    border-radius: .333rem;
                    .tag__text{
                        max-width: 19rem;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
            .habitation-card__price {
                margin-bottom: .5rem;
                font-weight: bold;
                font-size: 1.25rem;
            }
            .link{
                margin-left: -.5rem;
                margin-bottom: -.5rem;
                padding-left: .4375rem;
                padding-right: .4375rem;
                margin-top: auto;   
                .button__content{
                    display: flex;
                    align-items: center;
                    background: none;
                    color: #33afc7;
                }
            }
        }
    }

    .content-wrapper {
        width: 25.25rem;
    }
    .full-width {
        width: 100%;
    }
    .hide {
        display: none !important;
        visibility: hidden;
    }
    
    .h2.h-alt {
        margin-bottom: 35px;
    }
    .h2 {
        display: block;
        margin: 0;  
        font-family: "Lato", Arial, Verdana, sans-serif;  
        font-size: 2em;
        font-weight: 500;
        line-height: 1.5;
        color: #0074e4;
    }
    .h2.h-alt::after {
        width: 30px;
        height: 4px;
        display: block;
        content: "";
        background: #0074e4;
    }
    .infos-box {
        color: black;
        background: rgb(245, 244, 244);
        position: relative;
        padding: 15px 20px 15px 52px;
        margin-bottom: 25px;
    }
    .icon {
        content: url(/assets/img/high-importance-icon.png);
        position: absolute;
        top: 17px;
        left: 20px;
        width: 25px;
        height: 25px;
    }
    strong {
        font-weight: 700;
    }
    .no-touch .button--primary.button--outlined:hover {
        background-color: #e8f0ff;
        border-color: rgba(51, 175, 199, 255);
    }
    .no-touch .button--outlined:hover {
        background: inherit; 
    }
    .button--primary.button--outlined {
        color: rgba(51, 175, 199, 255);
        border-color: rgba(51, 175, 199, 255);
    }
    .button--outlined {
        background: none;
    }
    .button--large {
        padding: calc(.75rem - 1px) calc(1rem - 1px);
    }
    .button {
        display: inline-flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        font-family: "WorkSans",-apple-system,blinkmacsystemfont,"Segoe UI",roboto,oxygen,ubuntu,cantarell,"Open Sans","Helvetica Neue",sans-serif;
        line-height: 1.5rem;
        letter-spacing: 0;
        border: 1px solid transparent;
        border-radius: .5rem;
        cursor: pointer;
        transition: all .3s ease;
        text-decoration: none;
    }

}
@media (max-width:992px){
    .page-container{
        flex-direction: column;
        align-items: center;
        .side-container{
            width: 90%;
            margin-right: 0;
        }
        .content-wrapper{
            width: 100%;
            .habitation-card{
                padding-right: 1rem!important;
            }
        }
    }
}

